{% extends "base.html" %}
{% block body %}
<h2>Job {{ jobName }} settings</h2>
<form action="" method="post" name="jobSettings" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% if form %}
        {# for e in form.experiments #}
        <div class="input-group">
            <br>mailRecipient: {{ form.mailRecipient() }}
            <h3>input files:</h3>
            {#
            {{ e.data(size=20,class="form-control") }}
            {{ e.processingConfig(size=20,class="form-control") }}
            {{ e.wrapper(size=20,class="form-control") }}
            #}
            {{ form.experiments() }}
            <br>pept2protCombinationMethod: {{ form.pept2protCombinationMethod() }}
            <br>alpha: {{ form.alpha() }}
            <br>FCThreshold: {{ form.FCThreshold() }}
            <br>labelVolcanoPlotAreas: {{ form.labelVolcanoPlotAreas() }}
            <br>minExpression_bool: {{ form.minExpression_bool() }}
            <br>fullExpression_bool: {{ form.fullExpression_bool() }}
            <br>numDifferentials: {{ form.numDifferentials() }}
            <br>delim_out: {{ form.delim_out() }}

            {% for field in form %}
                {% for error in field.errors %}
                <span style="color: red;">{{ field.label }}: {{ error }} <br></span>
                {% endfor %}
            {% endfor %}<br>
        </div>
        {# endfor #}
    {% endif %}
    <button type="submit" value="submit">Submit job</button>
</form>
<br>
{% endblock %}